<div class="message"
     *ngIf="message"
     [class.outgoing]="isOutgoing"
     [class.system]="isSystem">

  <div class="message-sender" *ngIf="!isOutgoing && !isSystem">
    <img [src]="senderAvatarUrl || Assets.userDefaultAvatar"
         [alt]="message.sender.username + ' avatar'"
         class="sender-avatar">
    <span class="sender-name">{{message.sender.username}}</span>
  </div>

  <div class="message-content">
    <p>{{message.text}}</p>
    <span class="message-time" *ngIf="!isSystem">
      {{message.date | date:'HH:mm'}}
      <i *ngIf="isOutgoing" class="bi bi-check2-all read-receipt"></i>
    </span>
  </div>
</div>
