<div class="chat-details">
  <div class="chat-header">
    <button class="btn-back d-md-none">
      <i class="bi bi-arrow-left"></i>
    </button>

    <div class="chat-info" *ngIf="chat">
      <div class="avatar-container">
        <img [src]="avatarUrl" [alt]="'avatar'" class="avatar">
      </div>
      <div class="chat-meta">
        <h5 class="chat-name">{{this.chat.name}}</h5>
      </div>
    </div>

    <div class="chat-actions">
      <button class="btn-action">
        <i class="bi bi-search"></i>
      </button>
      <button class="btn-action">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
    </div>
  </div>

  <div class="messages-container">

  </div>

  <app-message-input></app-message-input>
</div>
