<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="sign-in-card">
        <h2 class="text-center">Вход</h2>
        <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              ngModel
              required
              email
              placeholder="Введите ваш email"
            />
          </div>
          <div class="form-group">
            <label for="password">Пароль</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              ngModel
              required
              placeholder="Enter your password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!signInForm.form.valid">
            Войти
          </button>
        </form>
        <div class="text-center mt-3">
          <a href="#" class="forgot-password">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
