<div class="message"
     *ngIf="item"
     [class.outgoing]="isOutgoing"
     [class.system]="isSystem">

  <div class="message-sender" *ngIf="!isOutgoing && !isSystem">
    <img [src]="senderAvatarUrl || Assets.userDefaultAvatar"
         [alt]="item.sender.username + ' avatar'"
         class="sender-avatar">
    <span class="sender-name">{{item.sender.username}}</span>
  </div>

  <div class="message-content">
    <p>{{item.text}}</p>
    <span class="message-time" *ngIf="!isSystem">
      {{item.date | date:'HH:mm'}}
      <i *ngIf="isOutgoing" class="bi bi-check2-all read-receipt"></i>
    </span>
  </div>
</div>
