<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <form [formGroup]="form">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    formControlName="username"
                    (input)="onCriteriaChanged()"
                  >
                  <span class="input-group-text bg-primary text-white">
                    <i class="bi bi-person"></i>
                  </span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Country"
                    formControlName="country"
                    (input)="onCriteriaChanged()"
                  >
                  <span class="input-group-text">
                    <i class="bi bi-globe"></i>
                  </span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    formControlName="city"
                    (input)="onCriteriaChanged()"
                  >
                  <span class="input-group-text">
                    <i class="bi bi-geo-alt"></i>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <app-users-list
        [pageSize]="PaginationConfig.UsersLoadingSize"
        [entitySource]="usersSource">
      </app-users-list>
    </div>
  </div>
</div>
